services:
  epa_api:
    build:
      context: .
      target: service
    ports:
      - "8080:8080"
    command: uvicorn epa_api.main:app --host 0.0.0.0 --port 8080
    hostname: epa-api
    environment:
      EPA_MONGODB_HOSTNAME: epa-db
      EPA_MONGODB_PORT: 27017
      EPA_MONGODB_USERNAME: ${EPA_MONGODB_USERNAME}
      EPA_MONGODB_PASSWORD: ${EPA_MONGODB_PASSWORD}
      EPA_MONGODB_USER_COLLECTION: ${EPA_MONGODB_USER_COLLECTION}
      EPA_MONGODB_SESSION_TOKEN_COLLECTION: ${EPA_MONGODB_SESSION_TOKEN_COLLECTION}
      EPA_JWT_SECRET: ${EPA_JWT_SECRET}
      EPA_GOOGLE_WEB_CLIENT_ID: ${EPA_GOOGLE_WEB_CLIENT_ID}
      EPA_GOOGLE_WEB_CLIENT_SECRET: ${EPA_GOOGLE_WEB_CLIENT_SECRET}
      EPA_GOOGLE_WEB_REDIRECT_URI: ${EPA_GOOGLE_WEB_REDIRECT_URI}
