services:
  epa_api:
    build:
      context: .
      target: service
    ports:
      - "8080:8080"
    command: uvicorn epa_api.main:app --host 0.0.0.0 --port 8080
    hostname: epa-api
    environment:
      EPA_MONGODB_HOSTNAME: epa-db
      EPA_MONGODB_PORT: 27017
      EPA_MONGODB_USERNAME: test
      EPA_MONGODB_PASSWORD: test
      EPA_MONGODB_USER_COLLECTION: users
      EPA_MONGODB_SESSION_TOKEN_COLLECTION: session_tokens
      EPA_JWT_SECRET: "b4yyh8rwfgv7wrh23d9bwf8279uh80fjn392jd90nbnrh34wrihwapufgh23hj"
